<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.privacy.sandboxedappb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    <permission android:name="com.privacy.sandbox.SANDBOX_APP_B"
        android:protection_level="signature"/>
    
    <uses-permission android:name="com.privacy.sandbox.SANDBOX_APP_B"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_appb"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.privacy.sandboxedappb.SandboxedMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="DataReceiver">
            <intent-filter>
                <action android:name="com.privacy.sandbox.SEND_VALUE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
